.dash-global-cont {
    display: flex;
    height: 100vh;
}

.dash-main-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    margin-left: 7%;
    margin-right: 5.5%;
}

.dash-main {
    padding-bottom: 16px;
}
.dash-main h1 {
    font-size: 3em;
    margin: 0;
    padding-bottom: 20px;
}
.dash-main span {
    color: #ff0101;
}
.dash-main p {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
}

.chartsBoardCont {
    display: flex;
    justify-content: space-between;
}
.sectionCharts {
    display: flex;
    flex-direction: column;
    width: 74.2%;
}

.chartActivity {
    height: 300px;
    width: 100%;
}
.chart3 {
    height: 300px;
    background-color: cornflowerblue;
}
.userBoard {
    width: 23%;
}

@media screen and (max-width: 1150px) {
    .dash-main-cont {
        margin-left: 4%;
        margin-right: 3%;
    }
    .dash-main {
        padding-top: 0px;
    }
}
