.keyDataCards {
    height: 125px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 6px;
    padding-left: 30px;
}
.keyDataCardsTextCont {
    padding: 0 25px;
}
.keyDataCardsText {
    font-size: 1.3em;
    margin: 0;
    color: black;
}
.keyDataCardsLegend {
    margin: 7px 0;
    color: var(--light-text-color);
}

@media screen and (max-width: 1250px) {
    .keyDataCards {
        padding-left: 20px;
    }
    .keyDataCardsTextCont {
        padding: 0 10px;
    }
    .keyDataCardsText {
        font-size: 1.2em;
    }
}