.legend-item-1.recharts-legend-item{
    margin-left: 21px;
}
.legend-item-0.recharts-legend-item,
.legend-item-1.recharts-legend-item{
    font-weight: normal;
}
.legend-item-1.recharts-legend-item svg{
    filter: invert(13%) sepia(92%) saturate(7296%) hue-rotate(1deg) brightness(87%) contrast(109%);
}

.custom-tooltip{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    font-size: 0.6em;
    font-weight: normal;
    color: white;
    padding: 2px 5px;
    background-color: #e60000;
    border: none;
}