.custom-tooltip{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    font-size: 0.6em;
    font-weight: normal;
    color: white;
    padding: 2px 5px;
    background-color: #e60000;
    border: none;
}