.sideMenu-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 117px;
    box-shadow: 4px 0 4px -5px grey;
    background-color: black;
}
.sideMenu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    /* padding-top: 260px;
    padding-bottom: 340px; */
}
.sideMenu-nav img {
    padding-bottom: 20px;
}
.sideMenu-copyright {
    position: absolute;
    bottom: 125px;
    right: -10px;
  
    transform: rotate(-90deg);

    white-space: nowrap;
    background-color: black;

    font-size: 0.8em;
    color: white;
}
